#bbbbbb{
	width:500px;
	margin:0 auto;
	background-color:#b4b4b4;
	
}
#head11111{
	background-color:#6d3500;
	color:white;
	padding:30px;
	border: solid 5px white;
	box-shadow: 10px 10px;


}
#ss h2 {
	background-color:#6d3500;
	color:white;
	margin:80px 0 0 0;
	border: solid 5px white;
	
	
}
#sss h2{
	background-color:#6d3500;
	color:white;
	margin:0 0 0 0;
	border: solid 5px white;
}

a{
	color:#ffff5a;
}

#ss h2 {
	background-color:#6d3500;
	color:white;
	margin:80px 0 0 0;
	border: solid 5px white;
}
#foot {
	background-color: black;
	width:0
	padding:10px
	text-align:center;
	margin:70px 0 0 0;
	
}
#foot p {
	color:white;
	padding:10px;
	text-align:center

}

}
#ss {
	background-color:#6d3500;
	color:white;
	margin:80px 0 0 0;
	border: solid 5px white;
	
	
}
#sss {
	background-color:#6d3500;
	color:white;
	margin:80px 0 0 0;
	border: solid 5px white;
}

#ss  {
	background-color:#6d3500;
	color:white;
	margin:80px 0 0 0;
	border: solid 5px white;
}



